.container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  .container--arrow {
    display: flex;
    font-size: 2rem;
    cursor: pointer;
  }
  .container--image{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    img{
      max-height: 100%;
      max-width: 100%;
    }
  }
  .prev {
    &:after {
      content: '<';
    }
  }
  .next {
    &:after {
      content: '>';
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
  }
}
